* {
  border: 1px solid #000;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{

 // --background: rgba(2,0,36);
  //--background: radial-gradient(circle, #abab03, #019068);

  --background: radial-gradient(circle at 30%, #abab03, #019068 30%);
}

ion-col {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //text-align: center;

  background-color: #135d5400;
  border: solid 1px #ffffff00;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  //font-style: italic;
}

#logo_nike{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#img_logo{
  width: 90px;
  height: 90px;
}


#summer {
  display:contents;
  justify-content:flex-start;
  font-size: 38px;
  font-family:'Holtwood One SC';
  color: #14214c;
}
span {
  color: #FFFFFF;
}

#text {
  font-family: 'Istok Web' ;
}

ion-button {
  --background: #ffbb00;
  --background-hover: #d29f14;
  --background-activated: #d29f14;
  //--background-focused: #88f4be;

  --color: #FFFFFF;
  --font-family:Arial, Helvetica, sans-serif;

  --border-radius: 50px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 0px;

  --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);

  //--ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
  
}


